{{> head}}
{{> navbar }}

<div class="row">
    <div class="col-6 m-5 p-3">
        <h1>About Us!</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, aliquam similique nostrum corrupti qui quam consectetur dolor cum accusantium beatae dignissimos architecto, autem illum, modi laudantium vitae exercitationem sequi necessitatibus?
        </p>
    </div>
    <div class="col-4 m-5 p-3">
        <img src="assets/img/logo_deep.jpg" class="img-thumbnail"/>
    </div>
</div>

{{> footer}}